@{
    ViewBag.Title = "Home Page";
}
<script>
    function searchSocieteContact(value) {
        $.ajax({
            url: '@Url.Action("RechercherSocietesOuContacts")?recherche=' + value,
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $("#divResultats").html(result);
            }
        });
    }
</script>
<div style="margin-top:50px;text-align:center;">
    <div class="mdl-textfield mdl-js-textfield" style="width:80%;">
        @Html.TextBox("tbSearch", "", new { placeholder = "Rechercher la société ou le contact...", @class = "mdl-textfield__input", onkeyup = "searchSocieteContact(this.value);" })
        <div id="divResultats">

        </div>
    </div>
</div>